<div class="login">
	<div class="text-center loginLogo">
		<img src="images/init_cn.png" alt="" width="100%">
	</div>
	<form name="LoginForm"  ng-submit="doLogin()" novalidate> 
			<div class="input-group">
			  <span class="input-group-addon" id="basic-addon1"><i class="icon-ip icon"></i></span>
			  <input type="text" name="address" data-ng-disabled="loading" data-ng-class="{'state-success': LoginForm.address.$dirty && LoginForm.address.$valid,'state-error': LoginForm.address.$dirty && LoginForm.address.$invalid}" class="form-control"  data-ng-trim="false" required data-ng-pattern="/^((?:(?:25[0-5]|2[0-4]\d|((1\d{2})|([1-9]?\d)))\.){3}(?:25[0-5]|2[0-4]\d|((1\d{2})|([1-9]?\d))))$/" ng-model="address" placeholder="输入主控IP地址" aria-describedby="basic-addon1">
			</div>
		
			<div class="input-group">
			  <span class="input-group-addon" id="basic-addon1"><i class="icon-user icon"></i></span>
			  <input type="text" name="username" data-ng-disabled="loading" required maxlength="20" data-ng-pattern="/^[A-Za-z0-9]{2,20}$/" data-ng-trim="false" class="form-control" data-ng-class="{'state-success': LoginForm.username.$dirty && LoginForm.username.$valid,'state-error': LoginForm.username.$dirty && LoginForm.username.$invalid}" ng-model="userName" placeholder="输入用户名" aria-describedby="basic-addon1">
			</div>
		
			<div class="input-group">
			  <span class="input-group-addon" id="basic-addon1"><i class="icon-password icon"></i></span>
			  <input type="password" name="password" data-ng-disabled="loading" maxlength="20" required class="form-control" data-ng-class="{'state-success': LoginForm.password.$dirty && LoginForm.password.$valid,'state-error': LoginForm.password.$dirty && LoginForm.password.$invalid}" ng-model="password" placeholder="输入密码" aria-describedby="basic-addon1">
			</div>
			
			<div class="loadingcontainer" data-ng-hide="!loading" data-ng-class="{loadComplate: !loading}">
				<div class="item top"></div>
				<div class="item right"></div>
				<div class="item bottom"></div>
				<div class="item left"></div>
			</div>
			<p class="loginTip" data-ng-if="loginfalse">请检查用户名、密码或网络</p>
			<div>
			  <button class="btn btn-primary button-login" type="submit" data-ng-disabled="LoginForm.$invalid || loading">登录</button>
			</div>
	</form>
</div>


